<div class="row">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title text-center">You played <%= @user_move %>.</h3>
          </div>
          <div class="panel-body">
            <img src="/assets/images/<%= @user_move %>.png" class="img-responsive">
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title text-center">The computer played <%= @computer_move %>.</h3>
          </div>
          <div class="panel-body">
            <img src="/assets/images/<%= @computer_move %>.png" class="img-responsive">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="well">
          <h1 class="text-center">You <%= @outcome %>!</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h5 class="panel-title">Summary</h5>
      </div>

      <table class="table table-hover table-striped">
        <tr>
          <th>When you played</th>
          <th>you lost</th>
          <th>you won</th>
          <th>you tied</th>
        </tr>

        <tr>
          <td>rock</td>
          <td><%= @rock_moves.sum(:user_wins) %></td>
          <td><%= @rock_moves.sum(:computer_wins) %></td>
          <td><%= @rock_moves.sum(:tie) %></td>
        </tr>

        <tr>
          <td>paper</td>
          <td><%= @paper_moves.sum(:user_wins) %></td>
          <td><%= @paper_moves.sum(:computer_wins) %></td>
          <td><%= @paper_moves.sum(:tie) %></td>
        </tr>

        <tr>
          <td>scissors</td>
          <td><%= @scissors_moves.sum(:user_wins) %></td>
          <td><%= @scissors_moves.sum(:computer_wins) %></td>
          <td><%= @scissors_moves.sum(:tie) %></td>
        </tr>

        <tr>
          <th>Total</th>
          <th><%= @all_moves.sum(:user_wins) %></th>
          <th><%= @all_moves.sum(:computer_wins) %></th>
          <th><%= @all_moves.sum(:tie) %></th>
        </tr>
      </table>
    </div>


    <div class="panel panel-info">
      <div class="panel-heading">
        <h5 class="panel-title">
          Complete history
          (<%= @all_moves.count %>)
        </h5>
      </div>

      <table class="table table-hover table-striped">
        <tr>
          <th>User Move</th>
          <th>Computer Move</th>
          <th>User Wins</th>
          <th>Computer Wins</th>
          <th>Tie</th>
        </tr>

        <% @all_moves.order("created_at DESC").each do |move| %>
          <tr>
            <td><%= move.user_move %></td>
            <td><%= move.computer_move %></td>
            <td><%= move.user_wins %></td>
            <td><%= move.computer_wins %></td>
            <td><%= move.tie %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
